.logoimage {
    margin-bottom: 25px;
    text-align: center;
}

.introduction {
    margin-bottom: 35px;
    text-align: center;
}

.startBrowsing {
    margin-bottom: 35px;
    text-align: center;
}

.loginSignin {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.bm-burger-bars {
    background: #373a47;
  }

  .carousel {
      display: flex;
      justify-content: space-around;
  }

  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #allCard {
    margin-top: 10px;
  }

  #cityName {
      text-align: center;
      padding: 70px 0;
  }

  #cityColor {
      color: white;
      font-size: 30px;
  }

  .flex-container {
    display: flex;
    justify-content: space-around;
  }

  #alignProfile {
      text-align: center;
  }

  #organizeRating {
      display: flex;
      justify-content: space-between;
  }

  Nav {
      text-align: end;
  }